@model storeexample.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewBag.HomeSplashImageUrl))
{
    <div class="jumbotron" style="background-image: url(@Url.Content(ViewBag.HomeSplashImageUrl));">
        @*<img src="@Url.Content(ViewBag.HomeSplashImageUrl)" alt="image"  style="width:100%; object-fit: contain;"/>*@
    </div>
}
else
{
    <div class="jumbotron">
        No splash image selected
        @*<img src="@Url.Content(ViewBag.HomeSplashImageUrl)" alt="image"  style="width:100%; object-fit: contain;"/>*@
    </div>
}


<div class="row">
    @if (Model.HomePageItems.Count() == 0)
    {
        <span>Content coming soon!</span>
    }
    else
    {
        foreach (var homePageItem in Model.HomePageItems)
        {
            <div class="col-md-4">
                <img src="@Url.Content(homePageItem.ImageUrl)" style="width:100%; height:100%;"/>
                <h2>@homePageItem.Heading</h2>
                <p>
                    @homePageItem.Content
                </p>
            </div>
        }
    }

</div>