@model storeexample.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewBag.HomeSplashImageUrl))
{
    <div class="jumbotron" style="background-image: url(@Url.Content(ViewBag.HomeSplashImageUrl));">
        @*<img src="@Url.Content(ViewBag.HomeSplashImageUrl)" alt="image"  style="width:100%; object-fit: contain;"/>*@
    </div>
}
else
{
    <div class="jumbotron">
        No splash image selected
        @*<img src="@Url.Content(ViewBag.HomeSplashImageUrl)" alt="image"  style="width:100%; object-fit: contain;"/>*@
    </div>
}


<div class="row hidden-xs">
    @if (Model.HomePageCrumbs.Count() == 0)
    {
        <span>Content coming soon!</span>
    }
    else
    {
        foreach (var crumb in Model.HomePageCrumbs)
        {
            <div class="col-md-4 col-sm-4">
                <div class="crumbImageContainer">
                    <img class="crumbImage" src="@Url.Content(crumb.ImageUrl)" />
                </div>

                <div class="crumbContentArea">
                    <h2>@crumb.Heading</h2>
                    <p>
                        @crumb.Content
                    </p>
                </div>
            </div>
        }
    }
</div>

<div class="row">
    <div class="col-md-12">

        @using (Html.BeginForm("VerifyZipCode", "Home", new { @class = "form-inline text-center" }))
            {
            <div class="form-group">
                @Html.LabelFor(model => model.ZipCode, new { @class = "sr-only" })
                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your zipcode" } })
            </div>

                <input type="submit" value="Check Zip" class="btn btn-primary" />


        }

        <span id="zipResult">@Model.ZipCodeMessage</span>

    </div>
</div>
