@model storeexample.Models.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

@if (!string.IsNullOrEmpty(ViewBag.HomeSplashImageUrl))
{
    <div class="jumbotron" style="background-image: url(@Url.Content(ViewBag.HomeSplashImageUrl));">
        @*<img src="@Url.Content(ViewBag.HomeSplashImageUrl)" alt="image"  style="width:100%; object-fit: contain;"/>*@
    </div>
}
else
{
    <div class="jumbotron">
        No splash image selected
        @*<img src="@Url.Content(ViewBag.HomeSplashImageUrl)" alt="image"  style="width:100%; object-fit: contain;"/>*@
    </div>
}


<div class="row">
    @if (Model.HomePageCrumbs.Count() == 0)
    {
        <span>Content coming soon!</span>
    }
    else
    {
        foreach (var crumb in Model.HomePageCrumbs)
        {
            <div class="col-md-4">
                <div class="crumbImageContainer">
                    <img class="crumbImage" src="@Url.Content(crumb.ImageUrl)" />
                </div>

                <div class="crumbContentArea">
                    <h2>@crumb.Heading</h2>
                    <p>
                        @crumb.Content
                    </p>
                </div>
            </div>
        }
    }
</div>

@if (Model.ShowZipCodeForm)
{
    <div id="zipCodeCheck">
        @Html.Partial("ZipCodeCheck")
    </div>



}