@model IEnumerable<storeexample.Models.ZipCode>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsServiced)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsServiced)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ZipCodeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ZipCodeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ZipCodeId })
        </td>
    </tr>
}

</table>
